<section class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Company List</h3>
                    <div class="pull-right" `><button class="btn btn-success" ng-click="vm.addNewCompany()">Add</button></div>

                </div>

                <div class="card-body table-responsive p-0" ng-init="getAllCompany()">
                    <table class="table table-hover">
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Expire On</th>
                            <th>Address</th>
                            <th>Location</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Country</th>
                            <th>Option</th>
                        </tr>
                        <tr ng-repeat="item in companyList">
                            <td>{{$index+1}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.username}}</td>
                            <td>{{item.passwordExpireOn}}</td>
                            <td>{{item.addressDto.addressLine1}}</td>
                            <td>{{item.addressDto.location}}</td>
                            <td>{{item.addressDto.city}}</td>
                            <td>{{item.addressDto.state}}</td>
                            <td>{{item.addressDto.country}}</td>
                            <td>
                                <div class="btn-group">

                                    <a href="#/company/{{item.companyId}}" class="btn btn-sm" >
                                        <i class="fa fa-edit"></i> 
                                    </a>
                                    <a href="" class="btn btn-sm">
                                        <i class="fa fa-remove"></i> 
                                    </a>
                                </div>

                            </td>
                        </tr>

                    </table>
                </div>


            </div>
        </div>
    </div>
</section>



<script type="text/javascript" src="../../Scripts/html2canvas.js"></script>



