
<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">Update Password</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" name="passwordUpdateForm" novalidate>
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Password</label>
                        <input type="password" class="form-control" name="password" ng-model="vm.company.password" ng-required="true" id="exampleInputEmail1" placeholder="New Password">
                        <div ng-messages="passwordUpdateForm.password.$error" role="alert" ng-show="!passwordUpdateForm.password.$untouched">
                            <div ng-message="required" class="text-danger">Password is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Retype Password</label>
                        <input type="password" class="form-control" name="confirmPassword" ng-model="vm.confirmPassword" ng-required="true" pwcheck="{{vm.company.password}}" id="exampleInputPassword1" placeholder="Password">
                        <div ng-messages="passwordUpdateForm.confirmPassword.$error" role="alert" ng-show="!passwordUpdateForm.confirmPassword.$untouched">
                            <div ng-message="required" class="text-danger">Confirm Password is required</div>
                            <div ng-message="pwcheck" class="text-danger">Passwords don't match!</div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="button" class="btn btn-primary" ng-click="vm.updatePassword()">Submit</button>
                    <button type="button" class="btn btn-danger" ng-click="vm.cancel()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /.card -->
